<table width="735" style="font-family: arial; font-size: 12px;">
  <tr height="100px" style="background-color: #e8e8e8">
    <td> <img src="<?php echo $base_url . "assets/images/logo-email.jpg" ;?> "> </td>
  </tr>

  <tr>
    <td>
    <?php echo $name; ?>
    </td>
  </tr>
  
  <tr>
    <td>
      We receive a request to reset your password for your account. <br/>

      <p>      If you want to reset your password.  click the link below  </p>
      <p><a href="<?php echo $link; ?>"><?php echo $link; ?> </a></p>

      <p><strong> Med venlig hilsen </strong></p>
      <p> ByggeCentralen </p>
    </td>
  </tr>
</table>
<br/><br/><br/>

